<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        <script src="./js/app.js"></script>
    </head>
    <body>
        
        <h1>{{title}}</h1>
        <img src="./img/IMG_1805.JPG"> 
        <p>{{author}}</p>
    </body>
</html>